<!-- HEADER -->
<% include partials/header %>

<!-- CONTENT -->
<h1><%= title %></h1>

<!-- USERS LIST -->
<ul>
<% users.forEach(function(user){ %>
    <li><%= user.first_name %> <%= user.last_name %> - <a href="#" class="btn-delete" data-id="<%= user._id %>">Delete</a></li>
<% }) %>
</ul>

<!-- ADD USER FORM -->
<h2>Add new user:</h2>
<form method="POST" action="/users/add">
    <label>First Name</label><br/>
    <input type="text" name="first_name"><br/>
    <label>Last Name</label><br/>
    <input type="text" name="last_name"><br/>
    <label>Email</label><br/>
    <input type="text" name="email"><br/>
    <input type="submit" value="Add">
</form>

<!-- ERRORS -->
<% if(errors){ %>
    <% errors.forEach(function(error) { %>
    <li><%= error.msg %></li>
    <% }) %>
<% } %>

<!-- FOOTER -->
<% include partials/footer %>